WCFMiddleware/WCFMiddleware/Connected Services/JEEWebservice/FileReceiverService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://messagereceiver.bank.com/" targetNamespace="http://messagereceiver.bank.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="messageReader" type="tns:messageReader" />
  <xs:element name="messageReaderResponse" type="tns:messageReaderResponse" />
  <xs:complexType name="messageReader">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="key" type="xs:string" />
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageReaderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="messageReceived" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>